#store-locator  {
    width: 100%;
    margin: 0 auto;

    .main-header {
        font-size: 40px;
        margin: 10px 0;
    }
    .sub-header {
        font-size: 16px;
        margin-bottom: 20px;
        text-transform: unset;
    }

    .location-search {
        width: 100%;

        .current-location {
            width: 5%;
            float: left;
            border: 1px solid #eee;

            .location-icon {
                width: 50%;
                vertical-align: middle;
            }
        }
        .enter-postcode {
            width: 90%;
            float: left;
            border: 1px solid #eee;
            text-align: center;
        }

        .search {
            width: 5%;
            vertical-align: middle;
            float: right;
            border: 1px solid #eee;

            .search-icon {
                width: 50%;
                vertical-align: middle;
            }
        }
    }
    
    #map {
        max-width: 100%;
        height: 500px;
        background: none;

        .info-window {
            overflow: hidden;

        }
    }
}

// RESETS 
.clear {
    clear: both;
}

// ALL CSS MEDIA QUERIES TO GO HERE
// CAN BE HEAVILY EXPANDED BASED ON SCALES - EXAMPLE BELOW

/* On screens that are larger than 1150px limit the map to 1120px wide */
@media screen and (min-width: 1150px) {
    #store-locator {
        max-width: 1120px;
    }
}