#store-locator {
  width: 100%;
  margin: 0 auto;
}

#store-locator .main-header {
  font-size: 40px;
  margin: 10px 0;
}

#store-locator .sub-header {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: unset;
}

#store-locator .location-search {
  width: 100%;
}

#store-locator .location-search .current-location {
  width: 5%;
  float: left;
  border: 1px solid #eee;
}

#store-locator .location-search .current-location .location-icon {
  width: 50%;
  vertical-align: middle;
}

#store-locator .location-search .enter-postcode {
  width: 90%;
  float: left;
  border: 1px solid #eee;
  text-align: center;
}

#store-locator .location-search .search {
  width: 5%;
  vertical-align: middle;
  float: right;
  border: 1px solid #eee;
}

#store-locator .location-search .search .search-icon {
  width: 50%;
  vertical-align: middle;
}

#store-locator #map {
  max-width: 100%;
  height: 500px;
  background: none;
}

#store-locator #map .info-window {
  overflow: hidden;
}

.clear {
  clear: both;
}

/* On screens that are larger than 1150px limit the map to 1120px wide */
@media screen and (min-width: 1150px) {
  #store-locator {
    max-width: 1120px;
  }
}
/*# sourceMappingURL=storeLocator.css.map */